

body {
    font-family: "Roboto";
    margin: auto;
    width: 75%;
    background-color: #000;
}

.hero {
    height: fit-content;
    background-color: #1F2937;
}

.headerRow {
    width: 75%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bold;
}

.headerLinks > ul {
    list-style: none;
}

.headerLinks {
    color: #E5E7EB;
    font-size: 18px;
}

.headerLinks li {
    float: left;
    margin: auto;
    padding: 0 25px 15px 0;
}

.heroSBS {
    width: 75%;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    padding: 50px 0 25px 0;
    display: flex;
}

.heroImage img {
    width: 500px;
}

.heroText {
    padding: 50px 20px 50px 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
#heroHeadline {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: bolder;
    margin: 0;
}

#heroSubtext {
    color: #E5E7EB;
    font-size: 18px;
    margin: 0;
}

.heroBtn {
    align-self: flex-start;
    background-color: #3882f6;
    color: #FFF;
    width: 120px;
    height: 40px;
    font-family: Roboto;
    font-weight: 600;
    font-size: medium;
    border-radius: 5px;
    border: none;
}

.random {
    height: fit-content;
    background-color: #FFFFFF;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}

#randomText {
    font-size: 36px;
    font-weight: bolder;
    color: #1F2937;
}

.infoPanels ul {
    margin: auto;
    display: flex;
    flex-direction: row;
    justify-content: center;
    list-style: none;
    width: 60%;
    padding-inline-start: 0px;
}

.panelImg {
    border-radius: 15px;
    height: 150px;
    width: 150px;
    border: solid 4px rgb(31, 101, 124);
    margin-bottom: 10px;
}

.panelText {
    height: 60px;
    text-align: center;
    padding: 0 30px 0 30px;
}

.panelCombo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.quote {
    color: #1F2937;
    font-size: 36px;
    font-style: italic;
    height: 250px;
    background-color: #E5E7EB;
    display: flex;
    flex-direction: column;
    padding: 100px 275px 100px 275px;
}

.attrib {
    margin-top: 0;
    text-align: right;
    font-weight: bold;
    font-size: 24px;
}

.cta {
    height: 300px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
}

.ctaBox {
    background-color: #3882F6;
    width: 1000px;
    height: 100px;
    color: #FFF;
    display: flex;
    flex-direction: row;
    padding: 10px;
    justify-content: space-around;
    align-items: center;
    border-radius: 7px;
}

.ctaBox h3 {
    margin: 0;
    line-height: 0;
}

.ctaButton {
    border: 2px solid white;
    border-radius: 5px;
    background-color: #3882F6;
    width: 120px;
    height: 40px;
    color: #FFF;
    font-size: 1.2em;
}

.footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85px;
    background-color: #1F2937;
    color: #FFF;
    box-align: center;
}