div {
    border: red 1px dashed;
}

body {
    margin: auto;
    width: 75%;
    background-color: #000;
}

.hero {
    height: fit-content;
    background-color: #1F2937;
}

.headerLinks > ul {
    list-style: none;
}

.random {
    height: fit-content;
    background-color: #FFFFFF;
}

.infoPanels > ul {
    list-style: none;
}

.panelImg {
    height: 150px;
    width: 150px;
}

.quote {
    height: 300px;
    background-color: #E5E7EB;
}

.cta {
    height: 200px;
    background-color: #FFFFFF;
}

.footer {
    height: 50px;
    background-color: #1F2937;
}